.guestbook-post {
	overflow: scroll;
	margin: auto;
}

.md-card-guestbook-image {
	width: 100%;
}

.md-card-guestbook-image-container {
	margin: auto;
}

.md-card-guestbook-center {
	text-align: center;
}