<div flex id="content" layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
	
	<md-subheader class="md-primary">Our Story</md-subheader>

	<div data-ng-controller="NewEventController as nec">
	    <mfb-menu main-action="nec.newEventDialog($event)" position="br" effect="slidein" label="New Event" active-icon="add" resting-icon="event" toggling-method="hover" template-url="./src/modules/story/views/mfb-menu.html"></mfb-menu>
	</div>

	<timeline class="story-content">
	    <timeline-event ng-repeat="event in sc.events">
	      <timeline-badge class="{{event.badgeClass}} hidden" when-visible="sc.animateElementIn" when-not-visible="sc.animateElementOut">
	        <i class="material-icons vmiddle">{{event.badgeIcon}}</i>
	      </timeline-badge>
	      <timeline-panel class="{{event.badgeClass}} hidden" when-visible="sc.animateElementIn" when-not-visible="sc.animateElementOut">
	        <timeline-heading>
	          <h4>{{event.title}}</h4>
	          <p ng-if="event.when">
	            <small class="text-muted"><i class="material-icons vmiddle grey-icon">watch_later</i>{{event.when}}</small>
	          </p>
	          <p ng-if="event.titleContentHtml" ng-bind-html="event.titleContentHtml">
	          </p>	
	        </timeline-heading>
	        <p>{{event.content}}</p>
	        <p ng-if="event.contentHtml" ng-bind-html="event.contentHtml"></p>
	        <timeline-footer ng-if="event.footerContentHtml">
	          <span ng-bind-html="event.footerContentHtml"></span>
	        </timeline-footer>	        
	      </timeline-panel>
	    </timeline-event>
	</timeline>	

</div>