.fill-across {
	width: 100%;
}

.mini-headline {
	font-size: 20px !important;
}

.margin-top-10 {
	margin-top: 10px;
}

.md-card-image {
	width: 90%;
	max-width: 90% !important;
	margin-left: 5%;
	margin-right: 5%;
}

.md-tab-content-image {
	width: 50% !important;
}

.md-tab-details-image {
	max-height: 300px !important;
}