.mini-headline {
	font-size: 20px !important;
}

.margin-top-10 {
	margin-top: 10px;
}

.md-card-image {
	width: 90%;
	max-width: 90% !important;
	margin-left: 5%;
	margin-right: 5%;
}

.md-card-image-shrink {
	width: 50%;
	margin: auto;
}

.md-tab-content-image {
	width: 50% !important;
}