<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Tam &#x2764; Covert Wedding</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montez'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Prata'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Angular & Material -->
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./bower_components/angular-timeline/dist/angular-timeline.css"/>
    <link rel="stylesheet" href="./bower_components/angular-timeline/dist/angular-timeline-animations.css"/>
    <!-- Dependencies -->
    <link rel="stylesheet" href="./bower_components/ng-material-floating-button/mfb/dist/mfb.css"/>
    <link rel="stylesheet" href="./bower_components/swiper/dist/css/swiper.css"/>
    <link rel="stylesheet" href="./bower_components/ng-countdown-ribbon/dist/ng-countdown-ribbon.min.css"/>
    <link rel="stylesheet" href="./bower_components/sweetalert/dist/sweetalert.css"/>
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css"/>
    <!-- Home -->
    <link rel="stylesheet" href="./src/modules/home/css/home.css"/>
    <!-- Story -->
    <link rel="stylesheet" href="./src/modules/story/css/story.css"/>
    <!-- Wedding -->
    <link rel="stylesheet" href="./src/modules/wedding/css/wedding.css"/>
    <!-- Registry -->
    <link rel="stylesheet" href="./src/modules/registry/css/registry.css"/>
    <!-- Guestbook -->
    <link rel="stylesheet" href="./src/modules/guestbook/css/guestbook.css"/>
    <!-- RSVP -->
    <link rel="stylesheet" href="./src/modules/rsvp/css/rsvp.css"/>
    <!-- Core -->
    <link rel="stylesheet" href="assets/app.css"/>
    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="core" ng-cloak id="body">

    <!-- Toolbar -->
    <md-toolbar ng-controller="CoreController as cc" layout="column" class="abstract-background">
        <span hide-xs class="md-toolbar-tools-spacer"></span>
        <div hide-xs class="md-toolbar-tools md-toolbar-header" layout-align="center center">          
          <h1>{{cc.mainHeader}}</h1>                      
        </div>
        <span class="md-toolbar-tools-spacer"></span>
        <div hide-gt-xs class="md-toolbar-tools md-toolbar-header" layout-align="center center">          
          <h1>L&S ❤ 5/7/16</h1>                      
        </div>
        <md-tabs md-center-tabs="true" class="md-primary" md-selected="cc.currentTab">
          <md-tab ng-click="cc.hideToast()" ng-repeat="navTab in cc.navTabs" id="{{navTab.id}}" class="md-tab-label" ui-sref="{{navTab.uisref}}">
            <md-tab-label>{{navTab.label}}</md-tab-label>
          </md-tab>          
        </md-tabs>
    </md-toolbar>

    <!-- Content -->
    <md-content class="main-background" layout-fill ui-view></md-content>
    
    <!-- Javascript -->
    <script>document.write('<script src="http://'
      + (location.host || 'localhost').split(':')[0]
      + ':35729/livereload.js?snipver=1"></'
      + 'script>')</script>
    <script src="./config/env/local.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Angular & Material -->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- Dependencies -->
    <script src="./bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <script src="./bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
    <script src="./bower_components/ng-material-floating-button/src/mfb-directive.js"></script>
    <script src="./bower_components/filepicker-js/filepicker.js"></script>
    <script src="./bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script src="./bower_components/swiper/dist/js/swiper.js"></script>
    <script src="./bower_components/angular-swiper/dist/angular-swiper.js"></script>
    <script src="./bower_components/ng-countdown-ribbon/dist/ng-countdown-ribbon.min.js"></script>
    <script src="./bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./bower_components/ngSweetAlert/SweetAlert.min.js"></script>
    <script src="./bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
    <!-- Home -->
    <script src="./src/modules/home/Home.js"></script>
    <script src="./src/modules/home/HomeController.js"></script>
    <!-- Story -->
    <script src="./src/modules/story/Story.js"></script>
    <script src="./src/modules/story/StoryController.js"></script>
    <script src="./src/modules/story/NewEventController.js"></script>
    <!-- Wedding -->
    <script src="./src/modules/wedding/Wedding.js"></script>
    <script src="./src/modules/wedding/WeddingController.js"></script>
    <!-- Registry -->
    <script src="./src/modules/registry/Registry.js"></script>
    <script src="./src/modules/registry/RegistryController.js"></script>
    <!-- Guestbook -->
    <script src="./src/modules/guestbook/Guestbook.js"></script>
    <script src="./src/modules/guestbook/InstagramFactory.js"></script>
    <script src="./src/modules/guestbook/GuestbookController.js"></script>
    <script src="./src/modules/guestbook/NewPostController.js"></script>
    <!-- RSVP -->
    <script src="./src/modules/rsvp/Rsvp.js"></script>
    <script src="./src/modules/rsvp/RsvpController.js"></script>
    <!-- Admin -->
    <script src="./src/modules/admin/Admin.js"></script>
    <script src="./src/modules/admin/AdminController.js"></script>
    <!-- Core -->
    <script src="./app.js"></script>

  </body>
</html>
