<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Tam &#x2764; Covert Wedding</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montez'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Prata'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./bower_components/angular-timeline/dist/angular-timeline.css"/>
    <link rel="stylesheet" href="./bower_components/angular-timeline/dist/angular-timeline-animations.css"/>
    <link rel="stylesheet" href="./bower_components/ng-material-floating-button/mfb/dist/mfb.css"/>
    <link rel="stylesheet" href="./src/modules/story/css/story.css"/>
    <link rel="stylesheet" href="./src/modules/guestbook/css/guestbook.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="core" ng-cloak id="body">

    <!--<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-whiteframe-z1">
        <h1>&#x2764;</h1>
      </md-toolbar>

      <md-list>
        <md-list-item ng-repeat="it in ul.users">
            <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
              <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
              {{it.name}}
            </md-button>
        </md-list-item>
      </md-list>

    </md-sidenav>-->

    <!-- Toolbar -->
    <md-toolbar layout="column" class="abstract-background">
        <span class="md-toolbar-tools-spacer"></span>
        <div class="md-toolbar-tools md-toolbar-header" layout-align="center center">          
          <h1>
            Lauren &amp; Scott's Wedding
          </h1>                                                
        </div>
        <div class="md-toolbar-tools md-toolbar-header" layout-align="center center">
          <h1>
          &#x2764;
          </h1>          
        </div>
        <div class="md-toolbar-tools md-toolbar-header" layout-align="center center">
          <h1>
          May 7, 2016
          </h1>   
        </div>
        <md-tabs md-center-tabs="true" class="md-primary" md-selected="selectedIndex">
          <md-tab id="home">
            <a class="md-tab-link" href="#/">Home</a>
          </md-tab>
          <md-tab id="our_story">
            <a class="md-tab-link" href="#/story">Our Story</a>
          </md-tab>
          <md-tab id="ceremony">
            <a class="md-tab-link" href="#/ceremony">Ceremony</a>
          </md-tab>
          <md-tab id="reception">
            <a class="md-tab-link" href="#/reception">Reception</a>
          </md-tab>
          <md-tab id="accommodations">
            <a class="md-tab-link" href="#/accommodations">Accommodations</a>
          </md-tab>
          <md-tab id="wedding_party">
            <a class="md-tab-link" href="#/weddingparty">Wedding Party</a>
          </md-tab>
          <md-tab id="registry">
            <a class="md-tab-link" href="#/registry">Registry</a>
          </md-tab>
          <md-tab id="guestbook">
            <a class="md-tab-link" href="#/guestbook">Guestbook</a>
          </md-tab>
          <md-tab id="hashtag">
            <a class="md-tab-link" href="#/hashtag">#CovertOperation</a>
          </md-tab>
        </md-tabs>
    </md-toolbar>

    <!-- Content -->
    <md-content class="main-background" layout-fill ui-view></md-content>
    
    <script>document.write('<script src="http://'
      + (location.host || 'localhost').split(':')[0]
      + ':35729/livereload.js?snipver=1"></'
      + 'script>')</script>

    <script src="./config/env/local.js"></script>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="./bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <script src="./bower_components/angular-scroll-animate/dist/angular-scroll-animate.js"></script>
    <script src="./bower_components/ng-material-floating-button/src/mfb-directive.js"></script>
    <script src="./bower_components/filepicker-js/filepicker.js"></script>
    <script src="./bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script src="./src/modules/story/Story.js"></script>
    <script src="./src/modules/story/StoryController.js"></script>
    <script src="./src/modules/story/NewEventController.js"></script>

    <script src="./src/modules/guestbook/Guestbook.js"></script>
    <script src="./src/modules/guestbook/GuestbookController.js"></script>
    <script src="./src/modules/guestbook/NewPostController.js"></script>

    <script src="./src/modules/users/Users.js"></script>
    <script src="./src/modules/users/UserController.js"></script>
    <script src="./src/modules/users/UserService.js"></script>

    <script src="./app.js"></script>

  </body>
</html>
