<md-dialog aria-label="Form" class="md-inline-form">
	<md-content class="md-padding" layout-padding>
		<form name="postForm">
			<div layout-gt-sm="row" layout="column">
				<md-input-container flex> <label>Title</label> <input ng-model="dc.newPost.title"> </md-input-container> 				
			</div> 
			<div layout-gt-sm="row" layout="column"> 
				<md-input-container flex> <label>Message</label> <textarea ng-model="dc.newPost.message" columns="1" md-maxlength="150"></textarea> </md-input-container> 
			</div>
			<div layout-gt-sm="row" layout="column">
				<md-input-container flex> <label>Author</label> <input ng-model="dc.newPost.author"> </md-input-container> 				
			</div> 			
			<div layout-gt-sm="row" layout="column"> 
				<input filepicker type="filepicker-dragdrop" data-fp-mimetype="image/*" data-fp-services="computer,facebook,instagram,url,box,GOOGLE_DRIVE,picasa,convert,webcam" on-success="dc.setUrl(event.fpfile.url)" data-fp-button-class="md-button md-raised md-ink-ripple" data-fp-drag-class="md-button event-drag-drop" data-fp-button-text="Attach Photo" data-fp-drag-text="Or Drag/Drop File Here" data-fp-image-quality="75" />
			</div> 
		</form> 
	</md-content> 
	<md-dialog-actions layout="row"> 
		<span flex></span> 
		<md-button ng-click="dc.cancel()" class="md-raised md-ink-ripple"> Cancel </md-button> 
		<md-button ng-click="dc.save()" class="md-raised md-ink-ripple md-primary"> Save </md-button> 
	</md-dialog-actions>
</md-dialog>