<div flex id="content" tabIndex="-1" role="main">
  
  <div class="margin-top-10" layout="row" layout-wrap layout-align="center start">
	
  	<div flex="75" flex-xs="100" layout="column" layout-align="center center">
      <md-card>            	
      	<md-card-title>
          <md-card-title-text layout-align="center center">
            <span class="md-headline">{{wc.bh.name}}</span>
            <span class="md-subhead mini-headline">{{wc.bh.address}}</span>
          </md-card-title-text>
 	      </md-card-title>     
      	<img ng-src="{{wc.bh.imagePath}}" class="md-card-image" alt="{{wc.bh.name}}">        	
      	<br/>
        <md-tabs md-dynamic-height>
      		<md-tab ng-repeat="bhTab in wc.bhTabs">
      			<md-tab-label>{{bhTab.label}}</md-tab-label>
  				  <md-tab-body>
    				 <md-card-content>
    				 	 <div layout="column" layout-align="center center" ng-bind-html="bhTab.content"/>
    				 </md-card-content>
  				  </md-tab-body>
  			  </md-tab>
    			<!-- Add blank tab due to Material bug, see https://github.com/angular/material/issues/5770 -->
    			<md-tab ng-disabled="true">
				    <md-tab-label>&nbsp;</md-tab-label>
			    </md-tab>
		    </md-tabs>
    	</md-card>
    </div>          	  	

  </div>

</div>